<ion-view>
  <ion-nav-buttons class="bar bar-header">
    <div class="h1 title">Leitor Qr Code</div>
  </ion-nav-buttons>
  <ion-content class="padding" class="margin30">
    <h3 class="tit-qr padding btn-tit-cam btn-text-int">Instruções</h3>
    <p class="btn-text-int"> 1. Para melhor funcionamento do leitor, verifique se a lente do seu dispositivo está limpa. </p>
    <p class="btn-text-int"> 2. posicione a câmera de uma forma que consiga ver o codigo legível.</p></br>
    <img src="img/qrcode.png" style="width:110px; margin: 0 auto; display:block;margin-bottom: 20px;" /></br>
    <button class="btn-buttom-cam button" ng-click="scanBarcode()" style="width:250px;height:35px;">
      <span class="btn-camera ion-ios-camera" ></span><p class="btn-text-cam">Faça a Leitura do Qr Code</p></button>
      <br/>
      <br/>
      <br/>
  </ion-content>
</ion-view>
