<ion-view view-title="Área Restrita">
  <ion-nav-bar class="bar-stable">
  <ion-nav-back-button class="button-clear ion-ios-arrow-thin-left custom-back"></ion-nav-back-button>
    <ion-nav-buttons side="right">
      <a ng-click="logout()" class="button button-icon icon ion-android-exit" style="margin-top: 8px;"></a>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content scroll="true" overflow-scroll="true">
    <span class="clock_img ion-ios-stopwatch-outline"></span>
    <div class="clock">
      {{counter|formatTimer}}
    </div>
    <span class="clock_button" ng-click="start()">{{buttonText}}</span>

    <span class="clock_button" ng-if="" ng-click="start()">Finalizar minha corrida</span>
  </ion-content>
</ion-view>
