<ion-view cache-view="false" >
         <ion-nav-buttons class="bar bar-header">
           <div class="h1 title">Login do usuário</div>
         </ion-nav-buttons>
<ion-content padding="true"
            scroll="false"
              ng-controller="LoginCtrl" class="margin30">
<!-- Form with floating labels -->
<form ng-submit="getData()" novalidate="novalidate" name="loginForm">
<ion-list>
<label class="item item-input item-floating-label item-login">
<span class="input-label">Matricula</span>
<input type="text"
      placeholder="Matricula"
      ng-model="formData.matricula"
                ng-required="true"
                name="matricula"
                >
</label>

      <br/>
<label class="item item-input item-floating-label item-login" ng-class="{'has-error':loginForm.password.$invalid}">
<span class="input-label">Senha</span>
<input type="password"
      placeholder="Senha"
      ng-model="formData.password"
                ng-required="true"
                name="password"
                ng-minlength="6">
</label>
<div class="form-errors" ng-messages="loginForm.password.$error">
       	<div ng-messages-include="views/errors/form-errors.html"></div>
       	</div>
</ion-list>

<button class="button button-energized button-block"
       type="submit"style="color:#000; font-weight:bold;" >Realizar Acesso
</button>
</form>



</ion-content>
</ion-view>
