<ion-view cache-view="false" view-title="Entidades" >
  <ion-nav-bar class="bar-stable">
    <ion-nav-back-button class="button-clear ion-ios-arrow-thin-left custom-back"></ion-nav-back-button>
  </ion-nav-bar>
<ion-content padding="true"
            scroll="false"
              ng-controller="LoginEntidadeCtrl" class="margin30">
<!-- Form with floating labels -->

<form ng-submit="getData()" novalidate="novalidate" name="loginForm">
<ion-list>
<label class="item item-input item-floating-label item-login" ng-class="{'has-error':loginForm.cnpj.$invalid}">
<span class="input-label">CPF</span>
<input type="text"
      placeholder="CNPJ"
      ng-model="formData.cnpj"
                ng-required="true"
                name="cnpj"
                >
</label>

<label class="item item-input item-floating-label item-login" ng-class="{'has-error':loginForm.password.$invalid}">
<span class="input-label">Senha</span>
<input type="password"
      placeholder="Senha"
      ng-model="formData.password"
                ng-required="true"
                name="password"
                ng-minlength="6">
</label>
</ion-list>

<button class="button button-energized button-block"
       type="submit"style="color:#000; font-weight:bold;" >Realizar Acesso
</button>
     <!-- <button class="button button-stable button-block" ui-sref="tabs.senha" type="submit" style="color:#000; font-weight:bold;">Recuperar senha
     </button>
     <button class="button button-stable button-block" ui-sref="tabs.senha" type="submit" style="color:#000; font-weight:bold;">Primeiro Acesso
     </button> -->
</form>



</ion-content>
</ion-view>
