<ion-view view-title="Perguntas Frequentes">
  <ion-nav-bar class="bar-stable">
    <ion-nav-back-button class="button-clear">
      <i class="ion-arrow-left-c"></i> Voltar
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content overflow-scroll="true" padding="true">
    <ion-list>
    </br>
    <p class="post-post">
      <p style="text-align: justify;">Agora o candidato habilitado no Programa Morar Bem que optar por aguardar a oferta de empreendimentos habitacionais em localidades do seu interesse poderá ficar com a mesma pontuação na fila por até quatro anos, a contar da data de sua primeira
        recusa. Após esse prazo, o habilitado passará à condição de declinado por prazo excedido. Essa mudança aconteceu para que o candidato tenha mais oportunidade no processo de aquisição da casa própria.</p>
      <p style="text-align: justify;">Para tirar outras dúvidas sobre o programa, fizemos um roteiro de perguntas e respostas para esclarecer assuntos sobre o programa de habitação do DF. Confira!</p>
      <p style="text-align: justify;">
        <br><strong></strong></p>

          <ion-item ng-repeat="item in items" class="item item-faq item-text-wrap">
            <div ng-click="toggleItem(item)" class="item-expand-footer">
              <i ng-class="isItemShown(item) ? 'ion-ios-minus-outline' : 'ion-ios-plus-outline'"></i>
              <b>{{item.title}}</b>
            </div>
            <div ng-class="isItemShown(item) ? 'item-expand active' : 'item-expand inactive'">
              <h4 style="text-align: justify;"></strong></h4>
              <p>{{item.text}}</p>
            </div>

          </ion-item>

      </ion-list>


      <br>
    </p>
    </p>

  </ion-content>
</ion-view>
