<ion-view>
  <ion-nav-buttons class="bar bar-header">
    <div class="h1 title">Informações</div>
  </ion-nav-buttons>
  <ion-content class="padding">
    <img src="img/codhabv.png" alt="" style="width: 310px; margin: 0 auto; display: block;"/>

      <div class="copy-codhab"><a class="positive" ui-sref="tabs.faq">Perguntas Frequentes</a></div>
      <div class="copy-codhab"><a class="positive" ui-sref="tabs.terms">Termos de uso</a></div>
      <div class="copy-codhab"><a class="positive" onclick="cordova.InAppBrowser.open('http://www.ouvidoria.df.gov.br/', '_system');">Ouvidoria</a></div>
      <div class="copy-codhab"><a class="positive" href="mailto:suporte.app@codhab.df.gov.br">Problemas e Sugestões</a></div>


      <div class="copy-codhab">Copyright © 2017 CODHAB. <br /> Versão: 1.0.2</div>
      <br/>
      <br/>
  </ion-content>
</ion-view>
