
<ion-tabs class="tabs-icon-top tabs-codhab positive">

	<!-- <ion-tab title="Início" icon-on="custom_home" icon-off="custom_home" ui-sref="tabs.home">
			<ion-nav-view name="tabs-home" ></ion-nav-view >
	</ion-tab> -->

	<ion-tab title="Notícias" icon-on="custom_noticias" icon-off="custom_noticias" ui-sref="tabs.noticias">
			<ion-nav-view name="tabs-noticias" ></ion-nav-view >
	</ion-tab>

	<!-- <ion-tab title="QrCode" icon-on="custom_qr" icon-off="custom_qr" class="tab-item-active" ui-sref="tabs.scan" style="background-color:#fff">
			<ion-nav-view name="tabs-scan" ></ion-nav-view >

	</ion-tab> -->

	<ion-tab title="Info" icon-on="custom_info" icon-off="custom_info" ui-sref="tabs.info">
			<ion-nav-view name="tabs-info" ></ion-nav-view >
	</ion-tab>
	<ion-tab ng-if="check()" title="Login" icon-on="custom_login" icon-off="custom_login" ui-sref="tabs.login">
			<ion-nav-view name="tabs-login" ></ion-nav-view >
	</ion-tab>

	<ion-tab ng-if="!check()" title="Usuário" icon-on="custom_login2" icon-off="custom_login2" ui-sref="tabs.extranet">
			<ion-nav-view name="tabs-extranet" ></ion-nav-view >
	</ion-tab>
</ion-tabs>
