<ion-view view-title="Formulário VOI">
  <ion-nav-bar class="bar-stable">
    <ion-nav-back-button class="button-clear ion-ios-arrow-thin-left custom-back"></ion-nav-back-button>
  </ion-nav-bar>
  <ion-content class="padding" scroll='true'>
    sdfdsfs
    adsf
    asdfasdf
    asdfasd
    fasdf
    styleDefaultasdf
    asdfad
    fsdf
    styleDefaultasdf
    asdf
    sadfasd
    fasdf
    asdfa
    styleDefaultasd
    fasdfasd
    fasdf
    asdfa
    sdfasdf
    form aki
  </ion-content>
</ion-view>
